body {
    font-family: Arial, sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
td:nth-child(1) {
    width: 30%;
}
td:nth-child(2) {
    width: 70%;
}






@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
    th, td {
        display: block;
        width: 100%;
        text-align: center;
    }
}




#MACH > div,
#WMACH > div {
    display: flex;
    flex-direction: column;
}

.weekContainer {
    display: flex;
    flex-direction: row;
}

.dayContainer {
    display: flex;
    flex-direction: column;
}

