.impar{background-color: #eeeeee;}
.par{background-color: #DDDDDD;}

.horariobib {
border: 5px solid grey;
border-radius:10px;
font-family: 'Lato', sans-serif;
margin: 1em;
}

.dayContainer {
display: flex;
flex-direction: column;
align-items: center;
flex-grow: 1;
text-align: center;
padding:0.4em;
margin:0.2em;
font-size: 1.4em;
}

.parent-of-current-day {
  /* Aplica los estilos deseados aquí */
  border: 4px solid #d8990e;
  border-radius: 5%;

}

.current-day {
    color: #be0f2e;

  }
  
.closed-day {
    color: gray;
    font-size: 0.9em;
  }

.biblioteca{
    font-size: 1.6em;
    padding: 1em 1em 0.4em 1em;
}

.estadoBiblioteca{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #be0f2e;
    font-size: 0.9em;
}

.estadoBiblioteca i{
   margin-left: 0.1em;
   margin-right: 0.1em;
}



.siguiente{
  
  text-align: right;
  
}
.eligeSemana{
    font-size: 1.2rem;
    text-align: center;
}
.anterior{
    
    text-align: left;
}
.semana{
    display: flex;
}

[id*='-nombre'] {
    padding:0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.div2{
    margin: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#prevWeek, #nextWeek {
    background: none; /* Elimina el fondo del botÃ³n */
    border: none; /* Elimina el borde del botÃ³n */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botÃ³n */
    padding: 0; /* Elimina el relleno del botÃ³n */
  }

  .fa {
    font-size: 2em; /* Aumenta el tamaÃ±o del Ã­cono */
  }

  #prevWeek:hover, #nextWeek:hover {
    opacity: 0.7; /* AÃ±ade un efecto de transparencia al pasar el mouse sobre el botÃ³n */
  }

  [id*='Week'] {
    background: none; /* Elimina el fondo del botÃ³n */
    border: none; /* Elimina el borde del botÃ³n */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botÃ³n */
    padding: 0; /* Elimina el relleno del botÃ³n */
    opacity: 0.6;
  }

.fa {
    font-size: 2em; /* Aumenta el tamaÃ±o del Ã­cono */
  }

[id*='Week']:hover {
    opacity: 0.7; /* AÃ±ade un efecto de transparencia al pasar el mouse sobre el botÃ³n */
  }


.campus ul li a {
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
  }

/* Aspecto de la web donde está incrustada */

a {
    font-family: 'Lato', 'sans-serif' !important;
}

ol, ul{
	padding-left: 0rem !important;
}

.dropdown-toggle::after{
	content:none !important;
}


@media (max-width: 900px) {.horariobib{font-size: 1em;}}
@media (max-width: 800px) {.horariobib{font-size: 0.95em;}}
@media (max-width: 700px) {.horariobib{font-size: 0.90em;}}
@media (max-width: 600px) {.horariobib{font-size: 0.85em;}}
@media (max-width: 500px) {.horariobib{font-size: 0.80em;}}


.fecha{
  font-size: 0.6em;
  margin-bottom: -1.8em;
  font-weight: bold;
}

.capacidad, .ocupacion, .mensajeSala{
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 0em 0em 0.4em 0em;
}

.ocupacion, .mensajeSala{
  padding: 0em 0em 1.2em 0em;
}

.oBaja {
  background-color: green;
  color: white;
  padding: 0.2em 1em; 
  font-weight: 600;
  border-radius: 0.8em; 
  opacity: 0.5;
}

/*
<span class='oBaja' title='menos del 33%'>B A J A</span>
*/

.oMedia {
  background-color: orange;
  color: white;
  padding: 0.2em 1em; 
  font-weight: 600;
  border-radius: 0.8em; 
  opacity: 0.7;
}

/*
<span class='oMedia' title='entre 33% y 66%'>M E D I A</span>
*/

.oAlta {
  background-color: red;
  color: white;
  padding: 0.2em 1em; 
  font-weight: 600;
  border-radius: 0.8em; 
  opacity: 0.8;
}

/*
<span class='oAlta' title='más del 66%'>A L T A</span>
*/

.big-text-1 {
  font-size: 1.25em;
}