# Agregado por JEI control acceso
<IfModule authz_core_module>
    <RequireAny>

                # Acceso para Máquina de desarrollo 
                Require ip 127.0.0.1/32

                # Acceso nueva red bibliotecas
                Require ip 172.31.0.0/16

                # Acceso para DIGI
                Require ip 79.117.64.93/32

    </RequireAny>

</IfModule>